<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--
	<connectionStrings>
  <add name="RecipeConnectionString1" connectionString="Data Source=GT-XPPRO\EXDEZINE;Initial Catalog=Recipe;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings/>
  -->
  <!--
	<connectionStrings>
		<add name="strConn" connectionString="Data Source=GT-XPPRO\EXDEZINE;Initial Catalog=Recipe;User ID=sa;Password=madness;Integrated Security=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  -->
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <pages validateRequest="false" />
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="PickupDirectoryFromIis" from="dexterzafra@gmail.com">
        <network defaultCredentials="true" host="GT-XPPRO" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
